:root {
	--main-bg: hsl(207, 100%, 50%);
	--main-fg: white;
	--main-box-bg: hsl(207, 100%, 60%);
	--max-box-size: 700px;
	--main-font: "nunito", sans-serif;
	--border-radius: 12px;
	--inputs-height: 40px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}
body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	font-family: var(--main-font);
	background-color: var(--main-bg);
	color: var(--main-fg);
}

main {
	width: 80%;
	max-width: 700px;
	margin: auto;
}
select {
	border: none;
	border-radius: var(--border-radius);
	color: var(--main-fg);
	background-color: var(--main-box-bg);
	height: var(--inputs-height);
	margin: 12px 0;
	padding: 0 12px;
}
h1 {
	transition: padding 0.3s linear;
}
.clouds-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.clouds-bg img {
	max-width: 300px;
	animation: clouds 30s linear infinite;
}
@keyframes clouds {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}
.current-city {
	text-align: center;
	padding: 12px 0;
}
.weather-advice {
	margin: 4px 0;
	margin-bottom: 12px;
}
small {
	width: 100%;
	display: block;
}
.error-details {
	display: none;
	margin: 4px 0;
}
.error-active {
	display: block;
}
.loader {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loader img {
	width: 48px;
}
.weather-data {
	display: grid;
	margin-top: 12px;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.weather-title {
	display: flex;
	align-items: center;
	gap: 6px;
}
.weather-data-content {
	display: flex;
	flex-direction: column;
	padding: 8px 16px;
	opacity: 1;
	transition: padding 0.3s linear;
	background-color: var(--main-box-bg);
	border-radius: var(--border-radius);
}
.weather-data-content:last-child {
	grid-column: 1/-1;
	align-items: center;
}

.weather-data-content small {
	margin: 1px 0;
}
.disabled {
	display: none;
}
