:root {
	--main-bg: hsl(207, 100%, 50%);
	--main-fg: white;
	--main-box-bg: hsl(207, 100%, 60%);

	--morning-bg: hsl(207, 94%, 67%);
	--morning-box-bg: hsl(207, 94%, 77%);
	--midday-bg: hsl(207, 100%, 50%);
	--midday-box-bg: hsl(207, 100%, 60%);
	--afternoon-bg: hsl(34, 100%, 50%);
	--afternoon-box-bg: hsl(34, 100%, 60%);
	--night-bg: hsl(207, 97%, 0%);
	--night-box-bg: hsl(207, 97%, 10%);
	--dark-bg: hsl(0, 1%, 6%);
	--dark-fg: hsl(0, 1%, 64%);
	--dark-box-bg: hsl(0, 1%, 12%);
	--dark-border: 1px solid hsl(0, 1%, 20%);
	--dark-btn: rgba(0, 140, 255, 0.2);
	--dark-btn-hover: rgba(0, 140, 255, 0.3);

	--max-box-size: 700px;
	--label-color: hsl(0, 0%, 40%);
	--main-font: "nunito", sans-serif;
	--border-radius: 12px;
	--inputs-height: 40px;
	--border-color: hsl(0, 0%, 80%);
	--main-border: 1px solid var(--border-color);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--main-font);
	color: var(--main-fg);
}

main {
	width: 80%;
	max-width: 700px;
	margin-top: 20px;
}
select {
	border: none;
	border-radius: var(--border-radius);
	color: var(--main-bg);
	height: var(--inputs-height);
	margin: 12px 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 12px;
}
h1 {
	transition: padding 0.3s linear;
}
.clouds-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.clouds-bg img {
	max-width: 300px;
	animation: clouds 60s linear infinite;
}
@keyframes clouds {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}
.current-city {
	text-align: center;
	padding: 12px 0;
}
.weather-advice {
	margin: 4px 0;
	margin-bottom: 12px;
}
small {
	width: 100%;
	display: block;
}
.error-details {
	display: none;
	margin: 4px 0;
}
.error-active {
	display: block;
}
.loader {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loader img {
	width: 48px;
}
.weather-data {
	display: grid;
	margin-top: 12px;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.weather-title {
	display: flex;
	align-items: center;
	gap: 6px;
}
.weather-data-content {
	display: flex;
	flex-direction: column;
	padding: 8px;
	opacity: 1;
	transition: padding 0.3s linear;
	border-radius: var(--border-radius);
}
.weather-data-content:last-child {
	grid-column: 1/-1;
	align-items: center;
}

.weather-data-content small {
	margin: 1px 0;
}
.disabled {
	display: none;
}

.morning-bg {
	background-color: var(--morning-bg);
}
.morning-box-bg {
	background-color: var(--morning-box-bg);
}
.midday-bg {
	background-color: var(--midday-bg);
}
.midday-box-bg {
	background-color: var(--midday-box-bg);
}
.afternoon-bg {
	background-color: var(--afternoon-bg);
}
.afternoon-box-bg {
	background-color: var(--afternoon-box-bg);
}
.night-bg {
	background-color: var(--night-bg);
}
.night-box-bg {
	background-color: var(--night-box-bg);
}
.no-connection {
	background-color: rgba(136, 1, 1, 0.719);
	width: 100%;
	height: 40px;
	margin: 0;
	padding-left: 6px;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
}
.btn {
	background-color: var(--main-fg);
	color: var(--main-bg);
	cursor: pointer;
	transition: background-color, 0.3s ease-in-out;
}
form .btn:hover {
	background-color: var(--main-bg);
	color: var(--main-fg);
}
.btn-dark {
	background-color: var(--main-bg);
	color: var(--main-fg);
}
.btn-back {
	background-color: var(--main-bg);
	color: var(--main-fg);
	transition-property: transform, box-shadow;
	transition: 0.3s ease-in-out;
}
.btn-rounded {
	font-size: 28px;
	padding: 16px;
	border-radius: 50%;
}
.btn-fixed {
	position: fixed;
	bottom: 4vh;
	right: 4vh;
	z-index: 999;
}
@media (hover: hover) {
	.btn-fixed:hover {
		transform: translateY(-0.5rem);
	}
	.btn-back:hover {
		box-shadow: 0px 1px 12px var(--main-bg);
	}
}
.feedback-container {
	background-color: var(--main-fg);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	transition-property: opacity, transform;
	transition: 0.7s linear;
	transform: translateX(200%);
	opacity: 0;
}
.feedback-container-active {
	transform: translateX(0);
	opacity: 1;
}
.feedback-content {
	width: 100%;
	max-width: 400px;
	background-color: var(--main-fg);
	margin: 16px auto;
	padding: 32px;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.feedback-content h2 {
	color: var(--main-bg);
	margin: 6px 0;
}
.feedback-content :is(input, textarea) {
	width: 100%;
	border: var(--main-border);
	border-radius: var(--border-radius);
	padding: 8px;
	margin: 4px 0;
	height: 40px;
	color: var(--label-color);
}
.feedback-content textarea {
	height: auto;
}
.feedback-content small {
	color: var(--label-color);
	margin-top: 12px;
}
.feedback-content button {
	width: 100%;
	background-color: var(--main-bg);
	color: var(--main-fg);
	border: none;
	border-radius: var(--border-radius);
	padding: 8px;
	margin: 4px 0;
	height: 40px;
}
.dark-bg {
	background-color: var(--dark-bg);
}
.dark-bg form {
	background-color: var(--dark-box-bg);
	border: var(--dark-border);
}
.dark-bg :is(input, select, textarea) {
	background-color: var(--dark-bg);
	border: var(--dark-border);
	color: var(--dark-fg);
}
.dark-bg h2 {
	color: var(--dark-fg);
}
.dark-bg button,
.dark-btn {
	background-color: var(--dark-btn);
	color: var(--dark-fg);
}
@media (hover: hover) {
	.dark-bg .dark-btn:hover {
		background-color: var(--dark-btn-hover);
	}
}
footer {
	display: none;
	text-align: center;
	padding: 16px;
	transition: padding 0.3s linear;
}
.footer-active {
	display: block;
}
@media screen and (max-height: 667px) and (max-width: 376px) {
	.baseline-layout {
		justify-content: flex-start;
	}
}
@media screen and (min-width: 1080px) and (min-height: 800px) {
	.weather-data {
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
}
