:root {
	--main-bg: hsl(207, 100%, 50%);
	--main-fg: white;
	--main-box-bg: hsl(207, 100%, 60%);

	--morning-bg: hsl(207, 94%, 67%);
	--morning-box-bg: hsl(207, 94%, 77%);
	--midday-bg: hsl(207, 100%, 50%);
	--midday-box-bg: hsl(207, 100%, 60%);
	--afternoon-bg: hsl(34, 100%, 50%);
	--afternoon-box-bg: hsl(34, 100%, 60%);
	--night-bg: hsl(207, 97%, 0%);
	--night-box-bg: hsl(207, 97%, 10%);

	--max-box-size: 700px;
	--main-font: "nunito", sans-serif;
	--border-radius: 12px;
	--inputs-height: 40px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--main-font);
	color: var(--main-fg);
}

main {
	width: 80%;
	max-width: 700px;
}
select {
	border: none;
	border-radius: var(--border-radius);
	color: var(--main-fg);
	background-color: var(--main-box-bg);
	height: var(--inputs-height);
	margin: 12px 0;
	padding: 0 12px;
}
h1 {
	transition: padding 0.3s linear;
}
.clouds-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.clouds-bg img {
	max-width: 300px;
	animation: clouds 60s linear infinite;
}
@keyframes clouds {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}
.current-city {
	text-align: center;
	padding: 12px 0;
}
.weather-advice {
	margin: 4px 0;
	margin-bottom: 12px;
}
small {
	width: 100%;
	display: block;
}
.error-details {
	display: none;
	margin: 4px 0;
}
.error-active {
	display: block;
}
.loader {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loader img {
	width: 48px;
}
.weather-data {
	display: grid;
	margin-top: 12px;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.weather-title {
	display: flex;
	align-items: center;
	gap: 6px;
}
.weather-data-content {
	display: flex;
	flex-direction: column;
	padding: 8px;
	opacity: 1;
	transition: padding 0.3s linear;
	border-radius: var(--border-radius);
}
.weather-data-content:last-child {
	grid-column: 1/-1;
	align-items: center;
}

.weather-data-content small {
	margin: 1px 0;
}
.disabled {
	display: none;
}

.morning-bg {
	background-color: var(--morning-bg);
}
.morning-box-bg {
	background-color: var(--morning-box-bg);
}
.midday-bg {
	background-color: var(--midday-bg);
}
.midday-box-bg {
	background-color: var(--midday-box-bg);
}
.afternoon-bg {
	background-color: var(--afternoon-bg);
}
.afternoon-box-bg {
	background-color: var(--afternoon-box-bg);
}
.night-bg {
	background-color: var(--night-bg);
}
.night-box-bg {
	background-color: var(--night-box-bg);
}

footer {
	display: none;
	text-align: center;
	padding: 16px;
	transition: padding 0.3s linear;
}
.footer-active {
	display: block;
}
@media screen and (min-width: 1080px) and (min-height: 800px) {
	.weather-data {
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
}
